@import 'fonts';
@import 'splash';
@import 'footer';
@import 'header';
@import 'contact';


* {
  margin: 0; padding: 0;
}
body {
  overflow-x: hidden;
}

#text {
  width: 40vw;
  margin-left: 0;
  user-select: none;
  h1 {
    color: white;
    font-size: 90px;
    font-family: 'Manrope';
    margin-bottom: 0;
    margin-left: 14vw;
    position: absolute;
  }
  h1:nth-child(1) {
    margin-top: 200px;
    margin-left: 5vw;
  }
  h1:nth-child(2) {
    margin-top: 330px;
    z-index: 10;
    word-spacing: 22.5px;
  }
  h1:nth-child(3) {
    margin-top: 5px;
    margin-top: 460px;
    margin-left: 5vw;
  }
  span {
    position: absolute;
    background-image: url('../images/scribble2.png');
    background-size: cover; width: 600px; height: 600px;
    transform: scaleX(1.65) scaleY(0.9);
    margin-top: 95px;
    margin-left: 14.25vw;
    z-index: 1;
  }
}
#canvas {
  width: 60vw;
  margin-left: 40vw;
  margin-top: 0px;
}
.glowFlex {
  display: flex; width: 60vw; height: 100vh; justify-content: center;
  position: absolute;
  margin-left: 40vw;
  .glow {
    width: 390px; height: 390px;
    border: 15px solid aqua; border-radius: 50%;
    z-index: 100;
    margin-top: -565px;
    filter: blur(20px);
  }
}